{% extends 'admin/base.html.twig' %}

{% block title %}Connexion à l'administration
{% endblock %}

{% block body %}
	<main data-spy="scroll" data-target="#navbar" data-offset="0">
		<h1 class="mt-5 pt-5 text-center">Panneau d'administration</h1>
		<section>
			<div class="container my-5">
				<h2>Connectez-vous</h2>

				{% if hasError %}
					<div class="alert alert-danger">Erreur, nom d'utilisateur ou mot de passe inccorect</div>
				{% endif %}
				<form action="{{ path('account_login')}}" method="post">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" required value={{username}}>
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Connexion !</button>
					</div>
				</form>
			</div>
		</section>
	</main>
{% endblock %}
