{% extends 'admin/base.html.twig' %}

{% block title %}Créer un utilisateur
{% endblock %}

{% block body %}
	<main data-spy="scroll" data-target="#navbar" data-offset="0">
		<h1 class="mt-5 pt-5 text-center">Créer un utilisateur</h1>
		<section>
			<div class="container">
				{{form_start(form)}}
				{{form_widget(form)}}
				<button type="submit" class="btn btn-success">Confirmer</button>
				<a class="btn btn-darker" href="{{path('admin_dashboard')}}">Retour</a>
				{{form_end(form)}}
			</div>
		</section>
	</main>
{% endblock %}
