<div id="content{{item.id}}">
	<h4 class="font-cursive h5">
		<span class="iconify" data-icon="{{item.icon}}"></span>
		{{item.title}}
	</h4>
	{% if  editorMode and is_granted('ROLE_ADMIN') %}
	<button class="btn btn-info btn-edit" type="button" data-id="{{item.id}}">
		<span class="iconify" data-icon="clarity:edit-solid"></span>
	</button>
	{% endif %}
</div>
