<div class="modal fade" id="modalRdv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Prendre rendez vous</h5>
					<button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-0">

					<div class="accordion rounded-0" id="accordionExample">
						<div class="card border-0  rounded-0">
							<div class="card-header bg-dark" id="headingOne">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left text-white font-cursive" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Etape 1 : vos coordonnées
									</button>
								</h2>
							</div>

							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									<div class="form-group">
										<label for="email">Votre adresse mail</label>
										<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
										<small id="emailHelp" class="form-text text-muted">Votre mail ne sera pas transmit à un tiers</small>
									</div>
									<div class="form-group">
										<label for="name">Votre nom</label>
										<input type="text" class="form-control" id="name" placeholder="">
									</div>
									<div class="form-group">
										<label for="subject">Objet</label>
										<select id="subject" class="custom-select">
											<option value="">--Choisir un service--</option>
											<option value="dog">Contrôler ma vue et choisir mes lunettes</option>
											<option value="cat">Contrôler ma vue</option>
											<option value="hamster">Être conseillé dans le choix de mes lunettes</option>
											<option value="parrot">Être conseillé dans le choix de lunettes pour mon enfant</option>
											<option value="spider">Être accompagné dans la manipulation et l'entretien de mes lentilles</option>
											<option value="goldfish">Retirer mes lunettes en magasin</option>
											<option value="goldfish">Entretenir mes lunettes</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="card border-0 rounded-0">
							<div class="card-header bg-primary" id="headingTwo">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed text-white font-cursive" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Etape 2 : vos disponibiltés
									</button>
								</h2>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									<p class="text-center">
										<span class="iconify text-primary" data-icon="ant-design:info-circle-outlined" data-inline="true"></span>
										Vous pouvez choisir jusqu'à 3 créneaux</p>
									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link text-grey active" id="home-tab" data-toggle="tab" href="#slot1" role="tab" aria-controls="home" aria-selected="true">Créneau 1</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link text-grey" id="profile-tab" data-toggle="tab" href="#slot2" role="tab" aria-controls="profile" aria-selected="false">Créneau 2</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link text-grey" id="contact-tab" data-toggle="tab" href="#slot3" role="tab" aria-controls="contact" aria-selected="false">Créneau 3</a>
										</li>
									</ul>
									<div class="tab-content mt-4" id="myTabContent">
										<div class="tab-pane fade show active" id="slot1" role="tabpanel" aria-labelledby="home-tab">
											<div class="d-flex">
												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="1">Lundi 4<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="1">Mardi 5<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="1">Mercredi 6<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="1">Jeudi 7<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="1">Vendredi 8<br>
															décembre</li>
													</ul>
												</div>

												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="2">Entre<br>8h et 10h</li>
														<li class="list-group-item list-group-item-action" data-list="2">Entre<br>10h et 12h</li>
														<li class="list-group-item list-group-item-action" data-list="2">Entre<br>14h et 16h</li>
														<li class="list-group-item list-group-item-action" data-list="2">Entre<br>16h et 18h</li>
														<li class="list-group-item list-group-item-action" data-list="2">Entre<br>18h et 19h</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="tab-pane fade" id="slot2" role="tabpanel" aria-labelledby="profile-tab">
											<div class="d-flex">
												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="3">Lundi 4<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="3">Mardi 5<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="3">Mercredi 6<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="3">Jeudi 7<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="3">Vendredi 8<br>
															décembre</li>
													</ul>
												</div>

												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="4">Entre<br>8h et 10h</li>
														<li class="list-group-item list-group-item-action" data-list="4">Entre<br>10h et 12h</li>
														<li class="list-group-item list-group-item-action" data-list="4">Entre<br>14h et 16h</li>
														<li class="list-group-item list-group-item-action" data-list="4">Entre<br>16h et 18h</li>
														<li class="list-group-item list-group-item-action" data-list="4">Entre<br>18h et 19h</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="slot3" role="tabpanel" aria-labelledby="contact-tab">
											<div class="d-flex">
												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="5">Lundi 4<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="5">Mardi 5<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="5">Mercredi 6<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="5">Jeudi 7<br>
															décembre</li>
														<li class="list-group-item list-group-item-action" data-list="5">Vendredi 8<br>
															décembre</li>
													</ul>
												</div>

												<div class="col-6">
													<ul class="list-group text-center selector-list">
														<li class="list-group-item list-group-item-action" data-list="6">Entre<br>8h et 10h</li>
														<li class="list-group-item list-group-item-action" data-list="6">Entre<br>10h et 12h</li>
														<li class="list-group-item list-group-item-action" data-list="6">Entre<br>14h et 16h</li>
														<li class="list-group-item list-group-item-action" data-list="6">Entre<br>16h et 18h</li>
														<li class="list-group-item list-group-item-action" data-list="6">Entre<br>18h et 19h</li>
													</ul>
												</div>
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>
						<div class="card border-0">
							<div class="card-header bg-info" id="headingThree">
								<h2 class="mb-0">
									<button class="btn btn-link btn-block text-left collapsed text-dark font-cursive" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										Etape 3 : laisser un message
									</button>
								</h2>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									<div class="form-group">
										<textarea id="content" class="form-control" placeholder="Vous pouver laisser un commentaire"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>
