<div id="content{{item.id}}">
	<h2>{{item.title}}
	</h2>
	{{item.content|raw}}
	{% if  editorMode and is_granted('ROLE_ADMIN') %}
		<button class="btn btn-primary btn-edit" type="button" data-id="{{item.id}}">
			<span class="iconify" data-icon="clarity:edit-solid"></span>
		</button>
	{% endif %}
</div>
