<footer>
	<div class="bg-darker d-flex flex-column flex-md-row text-white justify-content-between p-3">
		<div>
			Réalisé par
			<a href="https://atelier-hcodex.fr/" target="blank" class="green-text">Atelier Hcodex</a>
		</div>
		<div>
			<a href="{{path('mentions')}}" target="blank" class="green-text">Mentions légales</a>
			- <a href="{{path('policy')}}" target="blank" class="green-text">Politique de confidentialité</a>
			- Copyright Grandvillars Optique 2020
		</div>
	</div>
</footer>
