	<div id="home-message" class="bg-warning p-3 px-2 px-md-5 text-justify">
		<p class="m-0">
			<span class="iconify" data-icon="eva:alert-triangle-outline"></span><strong> Info Covid 19</strong> : pendant le confinement, notre magasin reste <strong>ouvert</strong>, et vous accueille en toute sérénité dans le <strong>respect des consigne de sécurité</strong>. Le port du <strong>masque</strong> reste évidemment <strong>obligatoire</strong>
		</p>
	</div>
