<ul class="list-unstyled">
{% for item in healthInsurances %}
	{% if item.status != 0 %}
		{% if item.status == 1 %}
			{% set icon = 'emojione-v1:left-check-mark' %}
		{% else %}
			{% set icon = 'emojione-v1:cross-mark' %}
		{% endif %}
	<li>
		<span class="text-muted">
			<span class="iconify" data-icon="{{icon}}"></span>
			{{item.name}}</span>
	</li>
	{% endif %}
{% endfor %}
</ul>