{% set list =['ABELA',
'ACORIS MUTUELLES',
'ACTIL',
'ACTUARIAT CONSEIL ETUDES',
'ADEP (ASSOCIATION DE PREVOYANCE)',
'ADINAS',
'ADREA MUTUELLE  UNILIA',
'ADREA MUTUELLE ALPES DAUPHINÉ',
'ADREA MUTUELLE BOURGOGNE',
'ADREA MUTUELLE CENTRE AUVERGNE',
'ADREA MUTUELLE FRANCHE COMTE',
'ADREA MUTUELLE MUTI',
'ADREA MUTUELLE PAYS DE L\'AIN',
'ADREA MUTUELLE PAYS DE SAVOIE',
'ADREA MUTUELLE SERVICE AIA',
'AG2R LA MONDIALE',
'AGEO',
'AGGEMA',
'AGILIS',
'AGIP SANTE',
'AGLAE GESTION',
'AGMF PRÉVOYANCE',
'AGRICA',
'AIAC',
'ALLIANZ',
'ALLSECUR',
'ALMERYS',
'AMELLIS MUTUELLES',
'AMIS',
'AON',
'APCI GESTION',
'APEMME',
'APGIS',
'APIC',
'APIVIA MUTUELLE',
'APO PESENTI',
'APREVA',
'APRIA',
'APRIA RSA',
'APRIA RSA GESTION AGA',
'APRIL ENTREPRISE',
'APRIL ENTREPRISE CARAIBES',
'APRIL ENTREPRISE SAVOIE',
'APS PREVOYANCE (CHEVALIER GESTION)',
'APS PREVOYANCE (KLESIA ACS)',
'AREA CONSEIL',
'AREAS ASSURANCES',
'ARGENSON ET SMFEP',
'ARPEGE PREVOYANCE',
'ASCORE GESTION',
'ASP BTP',
'ASSURANCES MEDICALES',
'ASSURASUD',
'ASSUREMA',
'ASSUREMA (POP SANTE)',
'ASSUREO',
'AUDIENS SANTE (PLEYEL SANTE)',
'AUXIA',
'AVENIR MUTUELLE',
'AVILOG',
'AVIVA',
'AVIVA AMIS',
'AXA',
'B2V PREVOYANCE',
'BALOO',
'BANQUE POPULAIRE',
'BCAC',
'BPCE MUTUELLE',
'BUREAU EUROPEEN DE PREVOYANCE (BEP)',
'CAISSE D\'EPARGNE',
'CAISSE DE PREVOYANCE MULHOUSIENNE (CPM)',
'CAMIEG',
'CAPAVES PREVOYANCE',
'CAPREVAL',
'CARDIF',
'CARPS',
'CARREFOUR ASSURANCES',
'CARRES BLEUS',
'CCMO CCN DU GOLF',
'CCMO MUTUELLE',
'CEGEMA',
'CEGENORD',
'CETIM',
'CGAM',
'CGRM',
'CHORALIS MUTUELLE LE LIBRE CHOIX',
'CIC',
'CIPRES ASSURANCES',
'CIPRES VIE',
'CIPREV/MUTUELLE VICTOR HUGO',
'CITRAM (MUTAERO)',
'CLP MUTUELLE SANTE',
'CMAV',
'CMIP',
'CMPI RADIANCE (ALENÇON)',
'CMU',
'CNM PREVOYANCE SANTE',
'CNP',
'COGEVIE',
'COLLECTEAM',
'COVEA RISK',
'COVIMUT (COMMUNAUX VIENNE MUTUELLE)',
'CPMS',
'CPSP',
'CREDIT MUTUEL',
'CRIA PREVOYANCE',
'DE CLARENS',
'DEXIA INGÉNIERIE SOCIALE',
'DYNALIS',
'E.G.C.A FNAP AMAF',
'ECA ASSURANCES',
'EMOA MUTUELLE DU VAR',
'ENERGIE MUTUELLE',
'ENTIS MUTUELLES',
'EOVI LA MIF CONTRATS UCANSS',
'EOVI MUTUELLE',
'EPAI',
'FEDERATION FRANCAISE DES ASSURES',
'FFA',
'FILHET ALLARD',
'FMA (POP SANTE)',
'FMP',
'FORCE SUD (EX MAT ALBI)',
'FRANCE MUTUELLE',
'FRATERNELLE DES TERRITORIAUX',
'G2S',
'GAN',
'GEISTEL',
'GENASSUR',
'GENERALI',
'GENERALI CARAIBES',
'GENERATION',
'GEREP',
'GESTASSUR',
'GESTINEO',
'GESTION FORMATION PREVOYANCE',
'GIE GROUPE NATION (MIP)',
'GIEPS AGIPI',
'GMC GESTION',
'GMF',
'GMI',
'GPS (GESTION PRESTATION SERVICE)',
'GRAS SAVOYE',
'GRM',
'GROUPAMA',
'GROUPE ACCUEIL MEDICO CHIRURGICAL (FMP)',
'GROUPE DIOT',
'GROUPE MUTAERO',
'GROUPE VICTOR HUGO',
'GSP',
'HARMONIE MUTUELLES',
'HELIUM',
'HEMOS SANTE',
'HENNER GMC',
'HOSP MAL CHIRURGIE TM (MA PETITE COMPLÉMENTAIRE)',
'HUMANIS',
'HUMANIS PREVOYANCE',
'IBAMEO',
'IDENTITES MUTUELLE',
'IGA GESTION',
'INPR',
'INTERIALE MUTUELLE',
'IPECA',
'IPSEC',
'ISANTE',
'KEOLIS',
'KLESIA',
'KLESIA MUT\'',
'KORELIO',
'L\'ASSUREUR FRANCAIS',
'LA BANQUE POSTALE ASSURANCES SANTE',
'LA FRONTALIERE',
'LA MONDIALE',
'LA MUTUELLE CATALANE',
'LA MUTUELLE DES SENIORS .COM',
'LA MUTUELLE EN LIGNE.COM',
'LA MUTUELLE GENERALE',
'LA MUTUELLE OPTIQUE.COM',
'LA PREVOYANCE',
'LA PROTECTION MUTUELLE ET FAMILIALE (PMF)',
'LA SAUVEGARDE',
'LE RALLIEMENT (MUTUELLE DES COMPAGNONS DU DEVOIR)',
'LE REFUGE MUTUALISTE AVEYRONNAIS',
'LES MUTUELLES LIGERIENNES',
'LES PREVOYANTS DE LA CCIMP',
'LINEA',
'LINEA (NEOLIANE GESTION)',
'LMDE',
'LMP (LES MENAGES PREVOYANT)',
'LSN SFP',
'M SANTE MUTUELLE FAMILIALE',
'MA NOUVELLE MUTUELLE',
'MAAF',
'MACD',
'MACIF MUTUALITE',
'MAE MFP SERVICES',
'MAGE',
'MALAKOFF MEDERIC',
'MALMASSON',
'MAPA',
'MASF',
'MBA MUTUELLE',
'MBA RADIANCE',
'MCA (MUTUELLE COMPLÉMENTAIRE D\'ALSACE)',
'MCCI',
'MCDEF',
'MCEN',
'MCI MUTUELLE',
'MCRN',
'MEPSS',
'MERCER',
'MESE SCHNEIDER ELECTRIC',
'MEUSREC',
'MFA (MUTUELLE FAMILIALE D\'AQUITAINE MUTAMI)',
'MFBCO (MUTUELLE DE FRANCE BRETAGNE CENTRE OCEANS)',
'MFIF',
'MFTSV',
'MG CORSE',
'MGAS',
'MGC (MUTUELLE GENERALE DES CHEMINOTS)',
'MGEC',
'MGEFI',
'MGEL',
'MGEN',
'MGEN EX MOCEN',
'MGET MFP SERVICES',
'MGP',
'MGS',
'MGTS (MUTAMI)',
'MHV',
'MICOM PREICOM',
'MIEL MUTUELLE',
'MIF PA (MUTAMI)',
'MIPC',
'MIPCF (MUTUELLE INTERENTREPRISES POLIET ET CIMENT FRANCAIS)',
'MIRPOSS',
'MLB MUTUELLE',
'MMA',
'MMC',
'MNFCT',
'MNH',
'MNPAF (MUTUELLE NATIONALE DU PERSONNEL AIR FRANCE)',
'MNSPF (MUTUELLE DES SAPEURS POMPIERS DE FRANCE)',
'MNT',
'MOCEN',
'MPCL (MUTUELLE DES FONCTIONNAIRES TERRITORIAUX)',
'MPOSS (MUTUELLE DE LA SÉCURITÉ SOCIALE MIDI PYRÉNÉES)',
'MPPM',
'MPST (MUTUELLE DES PERSONNELS DE SANTÉ TERRITORIAUX MUTAMI)',
'MRPOSS',
'MSAE',
'MSI MICILS',
'MTH',
'MTRG',
'MTRL',
'MUFTI',
'MUT EST',
'MUT SANTE',
'MUT SEINE',
'MUTA SANTE',
'MUTAME PROVENCE (MUTUELLE DES MUNICIPAUX)',
'MUTAME SAVOIE MONT BLANC',
'MUTAME TERRITOIRE DE BELFORT',
'MUTAME VAL DE FRANCE',
'MUTAMI',
'MUTCAF',
'MUTCOOP',
'MUTI',
'MUTLOR',
'MUTOSIC',
'MUTRALYON',
'MUTUALIA',
'MUTUALIA ALSACE GRAND EST',
'MUTUALIA GRAND OUEST',
'MUTUALIA NORD DE FRANCE',
'MUTUALIA SANTE ATLANTIQUE',
'MUTUALIA SANTE PREVOYANCE (MAS)',
'MUTUALIA SANTE SUD EST',
'MUTUALIA SUD OUEST',
'MUTUELLE 04 05',
'MUTUELLE 403',
'MUTUELLE 525',
'MUTUELLE 93',
'MUTUELLE AERONAUTIQUE BOUGUENAIS (MAB)',
'MUTUELLE ALSTOM RATEAU',
'MUTUELLE AUDIENS PRESSE SPECTACLE COMMUNICATION',
'MUTUELLE AVENIR SANTE',
'MUTUELLE AVENIR SANTÉ',
'MUTUELLE BEAUJOLAISE',
'MUTUELLE CAP SANTE',
'MUTUELLE CARCEPT PREV FMP',
'MUTUELLE CHEMINOTS PICARDS',
'MUTUELLE CHIRURICO DENTAIRE (MCD)',
'MUTUELLE CPAMIF',
'MUTUELLE D\'ENTREPRISE 341 (MUTUELLE UGINE)',
'MUTUELLE DE BAGNEAUX',
'MUTUELLE DE FRANCE (FMP)',
'MUTUELLE DE FRANCE AUBEANE',
'MUTUELLE DE FRANCE DES HOSPITALIERS',
'MUTUELLE DE FRANCE PLUS',
'MUTUELLE DE FRANCE ROANNE',
'MUTUELLE DE L\'HOTELLERIE ET DE LA RESTAURATION',
'MUTUELLE DE LA BOULANGERIE',
'MUTUELLE DE LA CNAV',
'MUTUELLE DE LA MEDITERRANEE',
'MUTUELLE DE LA POLICE NATIONALE (MPN)',
'MUTUELLE DE LA SOMME',
'MUTUELLE DE NATIXIS',
'MUTUELLE DE POITIERS ASSURANCE',
'MUTUELLE DE PONTOISE',
'MUTUELLE DE PREVOYANCE DES SALARIES',
'MUTUELLE DES ASSURES SOCIAUX',
'MUTUELLE DES CHEMINOTS DE CHAMPAGNE ARDENNE',
'MUTUELLE DES CHEMINOTS DE LA REGION DE NANTES',
'MUTUELLE DES CHEMINOTS DE NORMANDIE (MCN)',
'MUTUELLE DES CHEMINOTS DU NORD (MCN)',
'MUTUELLE DES HÔPITAUX DE LA VIENNE (MHV)',
'MUTUELLE DES MENAGES PREVOYANTS',
'MUTUELLE DES PAYS DE VAUCLUSE',
'MUTUELLE DES PAYS DE VILAINE',
'MUTUELLE DES SAPEURS POMPIERS DE PARIS (MSPP)',
'MUTUELLE DES SERVICES PUBLICS',
'MUTUELLE DES TABACS ET ALLUMETTES',
'MUTUELLE DES TRAMWAYS DE NANCY',
'MUTUELLE DES TRANSPORTS',
'MUTUELLE DES USINES',
'MUTUELLE DIJONNAISE',
'MUTUELLE DU CHAMPAGNE',
'MUTUELLE DU CHU ET HÔPITAUX DU PUY-DE-DÔME',
'MUTUELLE DU GRAND PORT MARITIME DU HAVRE (FMP GROUPE 2528)',
'MUTUELLE DU GROUPE BNP- PARIBAS',
'MUTUELLE DU MEDECIN/MUTUELLE DU PROFESSIONEL DE SANTE',
'MUTUELLE DU PERSONNEL BRED (FMP)',
'MUTUELLE DU PERSONNEL DE LA BANQUE POPULAIRE DU SUD (MPBPS)',
'MUTUELLE DU PERSONNEL DE LA CNAV',
'MUTUELLE DU PERSONNEL DES COLLECTIVITES TERRITORIALES (MPCT)',
'MUTUELLE DU PERSONNEL DU GROUPE MATRA HACHETTE',
'MUTUELLE DU PERSONNEL ETERNIT',
'MUTUELLE DU PERSONNEL HSBC FRANCE (FMP)',
'MUTUELLE DU PERSONNEL MUTUALITE FRANCILIENNE (FMP)',
'MUTUELLE DU PERSONNEL NAVIGUANT',
'MUTUELLE DU REMPART',
'MUTUELLE DU VAL DE SEVRE',
'MUTUELLE ENTIS',
'MUTUELLE ENTRAIDE LEA',
'MUTUELLE ENTRAIDE PHOTO CINE',
'MUTUELLE ENTRAIN',
'MUTUELLE EPC (FMP)',
'MUTUELLE EUROPE',
'MUTUELLE FAMILIALE',
'MUTUELLE FAMILIALE CENTRE AUVERGNE',
'MUTUELLE FAMILIALE DE FRANCE',
'MUTUELLE FAMILIALE DE HAUTE SAVOIE',
'MUTUELLE FAMILIALE DE LA CORSE',
'MUTUELLE FAMILIALE DE NORMANDIE',
'MUTUELLE FAMILIALE DES ALPES (MFA)',
'MUTUELLE FAMILIALE DES CHEMINOTS DE FRANCE (MFCF)',
'MUTUELLE FAMILIALE DU LOIRET',
'MUTUELLE FAMILIALE ET INTER ENTREPRISES',
'MUTUELLE FAMILIALE TRAVAILLEURS DU GROUPE SAFRAN',
'MUTUELLE FRANCE MARITIME',
'MUTUELLE GENERALE DE L\'OISE',
'MUTUELLE GENERALE DE LA DISTRIBUTION (MGD)',
'MUTUELLE GENERALE DE LA SANTE',
'MUTUELLE GENERALE LOIRE SUD (MGLS)',
'MUTUELLE GENERALE SOGERMA (MUTAERO)',
'MUTUELLE GEODIS',
'MUTUELLE HUMANIS NATIONALE',
'MUTUELLE INTERENTREPRISES DES CAVES',
'MUTUELLE INTERGROUPE D\'ENTRAIDE (MIE)',
'MUTUELLE INTERGROUPE D’ENTRAIDE',
'MUTUELLE INTERNET',
'MUTUELLE INTERNET.COM',
'MUTUELLE JURASSIENNE',
'MUTUELLE JUST',
'MUTUELLE LA CHOLETAISE',
'MUTUELLE LA FRANCE MARITIME',
'MUTUELLE LA FRATERNELLE',
'MUTUELLE LA PRUDENTE',
'MUTUELLE MCLR',
'MUTUELLE MGPA',
'MUTUELLE MIASC',
'MUTUELLE MIEUX ETRE (MUTUA GESTION)',
'MUTUELLE MOAT',
'MUTUELLE MONSOLS',
'MUTUELLE MONTPERRIN',
'MUTUELLE MOS',
'MUTUELLE MSA',
'MUTUELLE MVTE',
'MUTUELLE NATIONALE DES METIERS',
'MUTUELLE NATIONALE DU PERSONNEL DES ETABLISSEMENTS MICHELIN',
'MUTUELLE NOVAMUT',
'MUTUELLE OPALE',
'MUTUELLE PREMIRIS',
'MUTUELLE PREVIFRANCE',
'MUTUELLE PREVOYANCE INTERPROFESSIONNELLE (MPI)',
'MUTUELLE PREVOYANCE SANTE',
'MUTUELLE PROVENCALE D\'AUBAGNE',
'MUTUELLE PROVENCALE DE CASSIS ROQUEFORT LA BEDOULE',
'MUTUELLE RENAULT',
'MUTUELLE RHODIA BELLE ETOILE',
'MUTUELLE SAINT GERMAIN (FMP)',
'MUTUELLE SANTE',
'MUTUELLE SANTE 08',
'MUTUELLE SANTE EIFFAGE ENERGIE',
'MUTUELLE SECURITE ASTURIENNE',
'MUTUELLE SMEMA',
'MUTUELLE SMPS',
'MUTUELLE SMT',
'MUTUELLE SOCIETE MARSEILLAISE DE CREDIT',
'MUTUELLE SUD LYONNAIS',
'MUTUELLE UDT',
'MUTUELLE UMC AGENCE LYON',
'MUTUELLE UNION DES TRAVAILLEURS',
'MUTUELLE UNION DU COMMERCE ET DES SCOP',
'MUTUELLE VALEO',
'MUTUELLE VERTE',
'MUTUELLES DU PAYS HAUT',
'MUTUELLES DU SOLEIL',
'MUTUELLES NICOLAS',
'MVS MUTUELLE',
'MYRIADE',
'NEOLIANE EPSIL EQUITE',
'NOVALIS PREVOYANCE',
'OCIANE',
'OMNILAND',
'ONP (CABINET FABIAN)',
'OSMOSE SYNEA',
'OWLIANCE',
'PACIFICA',
'PACIFICA MSA',
'PARTEO',
'PAVILLON PREVOYANCE',
'PERIGORD MUTUALITE',
'PLANSANTE',
'PRECOCIA',
'PREDICA',
'PREVADIES',
'PREVOYANCE MUTUALISTE D\'ILE DE FRANCE',
'PRO BTP',
'RADIANCE ANGOULEME (UMTNS RADIANCE)',
'RADIANCE BOURGOGNE',
'RADIANCE GROUPE HUMANIS GRAND EST',
'RADIANCE HUMANIS',
'RADIANCE NORD PAS DE CALAIS',
'RADIANCE PICARDIE',
'RADIANCE RHÔNE ALPES',
'RADIANCE SUD',
'RAM GAMEX',
'RCBF',
'REPAM SANTE',
'REUNICA',
'RITCHAARD SANTE',
'ROEDERER',
'ROEDERER-SIMAX',
'SACDROP ASSURANCES',
'SAFIAG',
'SAMBO',
'SANTE GESTION PLUS',
'SFP (SOCIÉTÉ FRANÇAISE DE PRÉVENTION)',
'SG SANTE',
'SIMAX',
'SIMIRP',
'SLPA',
'SMAPRI (UNIASSUR UNIGEST)',
'SMATIS',
'SMEBA',
'SMENO',
'SMENO PRO',
'SMEREP',
'SMH',
'SMI',
'SMIE DES ORGANISMES SOCIAUX',
'SOGAREP',
'SOGECAP',
'SOLI CAISSE',
'SOLIDARITE MUTUALISTE',
'SOLIMUT',
'SOLIMUT MUTUELLE DE FRANCE',
'SOLLY AZAR',
'SOMUPOSS',
'SORUAL',
'SP Santé',
'SPVIE',
'SQUADRA GESTION',
'STAM EC',
'SUD OUEST MUTUALITE',
'SURAVENIR ASSURANCES',
'SWISS LIFE',
'TAITBOUT',
'TELERGOS',
'TERRISANTE',
'THELEM ASSURANCES',
'TRANQUILLITE SANTE',
'UCR',
'UFR (UNITE FRATERNELLE DES REGIONS)',
'UGIPS GESTION',
'UGM HUMANIS',
'UNEO',
'UNI SANTE PREVOYANCE',
'UNIASSUR UNIGEST',
'UNIM',
'UNIMIE',
'UNIMUTUELLES',
'USP',
'VERSPIEREN',
'VIAMEDIS',
'VIASANTE',
'VIASANTE (CARCASSONNE)',
'VIGIE',
'VITTAVI',
'VIVENS',
'VIVINTER',
'VOTRE MUTUELLE MOINS CHERE.COM',
'VOTRE MUTUELLE PAS CHERE.COM']
%}

{% for item in list %}
	<li>
		<span class="text-muted">
			<span class="iconify" data-icon="emojione-v1:left-check-mark"></span>
			{{item}}</span>
	</li>
{% endfor %}
