{% extends 'base.html.twig' %}

{% block title %}Policy
{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5 pt-5 text-center bg-white">Politique de confidentialité</h1>
		<div class="container mb-5">
			<div class="col-md-8 page-content-wrap  col-md-offset-2">

				<h2 class="text-primary pt-3">Utilisation des données personnelles collectées</h2>

				<h3 class="h4 pt-3">Formulaires de contact</h3><hr>
				<p>Sur notre formulaire de contact, sont collectés votre nom, adresse électronique, ojet et contenu du message.</p>


				<h3 class="h4 pt-3">Utilisation et transmission de vos données personnelles</h3><hr>
				<p>Vos données personnelles ne seront exploitées qu’à des fins statistiques ou d’organisation de nos prestations en lien avec votre demande. Elle sont susceptibles d’êtres communiquées à un tiers lorsque nous faisons appel à un prestataire extérieur (tel qu'un fournisseur par exemple), pour la réaliser de nos prestations.</p>


				<h3 class="h4 pt-3">Durées de stockage de vos données</h3><hr>
				<p>Les données que vous nous transmetez sont conservés indéfiniment.</p>

				<h3 class="h4 pt-3">Les droits que vous avez sur vos données</h3><hr>
				<p>Si vous avez utilisez notre formulaire de contact ou de prise de rendez vous,, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>
				
				<h2 class="text-primary pt-3">Autres données</h2>

				<h3 class="h4 pt-3">Cookies</h3><hr>
				<p>Ce site n'utilise pas les cookies</p>
			
			</div>
		</div>
	</main>
{% endblock %}
