<div class="row mx-0 position-relative">
	<div class="col-sm-2 col-md-1 col-xl-2 d-none d-sm-block d-lg-none d-xl-block order-3 order-xl-1 my-5 align-self-center text-center ">
		{% if activisuMedia is not empty %}
			<img class="img-activisu activisuMedia" src="{{ vich_uploader_asset(activisuMedia|first) }}" alt="{{activisuMedia|first.alt}}">
		{% else %}
			<img class="img-activisu" src="/img/activisu.png" alt="Activisu">
		{% endif %}
		<button class="btn btn-info btn-media-selector" type="button" data-mediacategory="activisu">
			<span class="iconify" data-icon="mdi:picture"></span>
		</button>
	</div>
	{% include '/admin/content_editor/activisuSectionContent.html.twig' %}
	<div class="col-lg-6 col-xl-5 order-1 order-xl-3 p-0">
	<video class="w-100 d-block" autoplay loop muted>
		<source src="/media/eyecode.mp4" type="video/mp4">
		Sorry, your browser doesn't support embedded videos.
	</video>
</div>
</div>
