<div id="content{{item.id}}" class="media-body">
	{{item.content|raw}}
	<small>{{item.title}}</small>
	<button class="btn btn-primary btn-edit" type="button" data-id="{{item.id}}">
		<span class="iconify" data-icon="clarity:edit-solid"></span>
	</button>
</div>
