
	<div class="container position-relative">
		<div class="media">
			<img src="/img/cedric.jpg" alt="Cedric Hinterlang" width="100px" class="rounded-circle align-self-center mr-3">
			<div class="media-body">
				<p>"{{item.entity.content}}"</p>
				<small>{{item.entity.title}}</small>
				<button class="btn btn-primary btn-edit" type="button" data-toggle="modal" data-target="#modalForm{{item.entity.id}}">
					<span class="iconify" data-icon="clarity:edit-solid"></span>
				</button>
			</div>
		</div>
	</div>

{% set labels = {'title': 'Auteur', 'content' : 'Citation'} %}
{% include '/admin/content_editor/modalContentForm.html.twig' %}
