<div class="col mb-4">
	<div class="card h-100 border-primary">
		<div class="card-body media">
			<i class="iconify align-self-center mr-3 text-primary d-none d-sm-block" data-icon="whh:gears" data-inline="false" data-width="50"></i>
			<div class="media-body">
				<h3>{{item.entity.title}}</h3>
				<button class="btn btn-info btn-edit" type="button" data-id="{{item.entity.id}}">
					<span class="iconify" data-icon="clarity:edit-solid"></span>
				</button>
				<hr class="bg-primary">
				{{item.entity.content|raw}}
			</div>

		</div>
	</div>
</div>

