<div class="position-relative">
	<h2>{{item.title}}</h2>
	{{item.content|raw}}
	<button class="btn btn-primary btn-edit" type="button" data-id="{{item.id}}">
		<span class="iconify" data-icon="clarity:edit-solid" data-inline="false"></span>
	</button>
</div>

