<header id="menu">
	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-darker fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{path('admin_dashboard')}}">Accueil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('admin_content_editor')}}">Editeur de contenu</a>
				</li>
				{% endif %}
				<li class="nav-item btn-info btn p-0 mx-1">
					<a class="nav-link text-dark" href="{{path('homepage')}}">Retour au site</a>
				</li>
				{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_STAFF')%}
				<li class="nav-item  btn btn-danger p-0 mx-1">
					<a class="nav-link" href="{{path('account_logout')}}">Déconnexion</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
