<style type="text/css">


	#header {
		background-color: #355b82;
		color: white;
		padding: 30px;
		text-align: center;
	}

	h1{
		margin : 0px;
	}

	.content {
		width: 80%;
		margin: auto;
        margin-bottom: 20px;
	}

	h2 {
		background-color: #95dd85;
		padding: 15px;
	}

	.messageContainer {
		background: #e9ecef;
		padding: 20px;
	}

	#footer {
		background: #212529;
		color: white;
		text-align: center;
		padding: 20px;
	}

	.replyBtn {
		color: #212529;
		background-color: #355b82;
		padding: 10px;
		border-radius: 5px;

		margin: auto;
		display: inline-block;
	}

	.replyBtn a {
		text-decoration: none;
		color: white !important;
	}
</style>

<div id="header">
	<h1>Grandvillars Optique</h1>
</div>

{% block content %}{% endblock %}

<div id="footer">
	<h3>Grandvillars Optique</h3>
	<p>16 rue Général Leclerc<br>
		90600 Grandvillars<br>
		03.84.23.50.00</p>
</div>