<h1>Nouveau message depuis le formulaire</h1>
<p>Sujet :
	{{contact.subject}}</p>
<p>Non :
	{{contact.LastName}}</p>
<p>Email de contact :
	{{contact.email}}</p>
<p>Message :
</p>
<p>{{contact.message}}</p>
