{% extends 'emails/base.html.twig' %}

{% block content %}
	<div class="content">
		<h2>Réinitialisation de votre mot de passe</h2>
		<p>Bonjour,</p>
		<p>Vous avez demandé à réinitialiser votre mot de passe.</p>
		<p>
			Veuillez utiliser
			<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" traget="blank">ce lien</a>
			pour définir un nouveau mot de passe.<br>
			Ce lien expirera dans
			{{ tokenLifetime|date('g') }}
			heure.
		</p>
		<p>Si vous n'êtes pas à l'origine de cette demande, ignorez ce message</p>
	</div>
{% endblock %}
