{% extends 'emails/base.html.twig' %}

{% block content %}
	<div class="content">
		<h2>Réinitialisation de votre mot de passe</h2>
		<p>
			Vous avez demandé à réinitilaiser votre mot de passe. Veuillez utiliser
			<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ce lien</a>
			pour définir un nouveau mot de passe.
			    Ce lien expirera dans
			{{ tokenLifetime|date('g') }}
			heure.
		</p>
	</div>
{% endblock %}
