{% extends 'base.html.twig' %}

{% block title %}Erreur 404
{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5 pt-5 text-center bg-white">Page introuvable !</h1>
		<hr>
		<div class="container text-center">
					<div class="text-center m-5">
				<span class="iconify text-info" data-icon="ic:outline-not-listed-location" data-width="30%" data-inline="false"></span>
			</div>
			<h2>Oups ! La page spécifée est introuvable</h2>
			<p>
				<a class="text-primary" href="{{ path('homepage') }}">Retour à la page d'accueil</a>
			</p>
		</div>
	</main>
{% endblock %}
