{% extends 'base.html.twig' %}

{% block title %}Erreur 403
{% endblock %}

{% block header %}
	{% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5 pt-5 text-center bg-white">Action impossible !</h1>
		<hr>
		<div class="container text-center">
					<div class="text-center m-5">
				<span class="iconify text-info" data-icon="mdi-lock-alert-outline" data-width="30%" data-inline="false"></span>
			</div>
			<h2>Oups ! Vous n'avez pas la permission d'afficher cette page</h2>
			<p>
				<a class="text-primary" href="{{ path('homepage') }}">Retour à la page d'accueil</a>
			</p>
		</div>
	</main>
{% endblock %}
